- name: make sure projects folder exists
  file:
    path: $HOME/projects
    state: directory

- name: clone lotion repo
  git:
    repo: https://github.com/puneetsl/lotion.git
    dest: $HOME/projects/lotion
    force: true

- name: install lotion
  shell: |
    cd $HOME/projects/lotion
    ./install.sh
  args:
    executable: /bin/bash
    creates: $HOME/.local/share/applications
