- name: update profile
  blockinfile:
    path: $HOME/.profile
    insertbefore: '^# if running bash.*'
    block: |
      export GOPATH="$HOME/go"
      export PATH="$HOME/bin:$HOME/anaconda2/bin:$HOME/.rbenv/bin:$GOPATH/bin:$PATH"

- name: update bashrc HISTCONTROL
  lineinfile:
    path: $HOME/.bashrc
    regexp: '^HISTCONTROL=.*'
    line: HISTCONTROL=ignoreboth:ignoredups:erasedups

- name: update bashrc HISTSIZE
  lineinfile:
    path: $HOME/.bashrc
    regexp: '^HISTSIZE=.*'
    line: HISTSIZE=5000

- name: update bashrc HISTFILESIZE
  lineinfile:
    path: $HOME/.bashrc
    regexp: '^HISTFILESIZE=.*'
    line: HISTFILESIZE=5000

- name: update bashrc block
  blockinfile:
    path: $HOME/.bashrc
    block: |
      # Save and reload the history after each command finishes
      export PROMPT_COMMAND="history -a; history -c; history -r; $PROMPT_COMMAND"
      export EDITOR=vi
      export FZF_CTRL_R_OPTS='--exact'
      [ -f /usr/share/autojump/autojump.sh ] && . /usr/share/autojump/autojump.sh
      source ~/.utils.sh
      complete -C $HOME/bin/vault vault
      eval "$(rbenv init -)"

- name: copy bash aliases
  file:
    src: "{{ playbook_dir }}/roles/bash/files/bash_aliases"
    path: $HOME/.bash_aliases
    state: link
