- name: install nvm 0.34.0
  shell: >
    curl -o- https://raw.githubusercontent.com/nvm-sh/nvm/v0.34.0/install.sh | bash
  args:
    warn: false
    creates: "{{ ansible_env.HOME }}/.nvm/nvm.sh"

- name: install nodejs 8
  shell: |
    export NVM_DIR="$HOME/.nvm"
    source "$NVM_DIR/nvm.sh" 
    nvm install 8 --lts
  args:
    executable: /bin/bash
    creates: $HOME/.nvm/versions/node/v8.16.1/

- name: use nodejs 8
  shell: |
    export NVM_DIR="$HOME/.nvm" 
    source "$NVM_DIR/nvm.sh" 
    nvm use 8
  args:
    executable: /bin/bash

- name: install typescript
  shell: |
    export NVM_DIR="$HOME/.nvm" 
    source "$NVM_DIR/nvm.sh" 
    nvm use 8
    npm install -g typescript
  args:
    executable: /bin/bash
    creates: $HOME/.nvm/versions/node/v8.16.1/lib/node_modules/typescript/

