- name: identity
  openssh_keypair:
    path: $HOME/.ssh/id_rsa
    size: 2048

- name: identity
  openssh_keypair:
    path: $HOME/.ssh/id_rsa_alt
    size: 2048

- name: ensure $HOME/Downloads dir
  file:
    path: $HOME/Downloads
    mode: '0755'
    state: directory

- name: ensure $HOME/bin dir
  file:
    path: $HOME/bin
    mode: '0755'
    state: directory

- name: ensure $HOME/tmp dir
  file:
    path: $HOME/tmp
    mode: '0755'
    state: directory

