- hosts: noob
  roles:
    - apt_packages
    - snap_packages
    - filesystem
    - docker
    - tmux
    - java
    - go
    - anaconda
    - ruby
    - fzf
    - nodejs
    - rust
    - vscode
    - chrome
    - enpass
    - fusuma
    - virtualbox
    - hashicorp
    - dotfiles
    - aeimer.install_bat
    - lotion
    - zoom
    - bash

