- hosts: noob
  tasks:
  - name: apt packages
    become: true
    apt:
      force_apt_get: yes
      name: ['autojump', 'docker.io', 'xclip', 'bison', 'binutils', 'build-essential']

  - name: snap packages
    become: true
    snap:
      name: ['code', 'slack']
      classic: yes

  - name: identity
    openssh_keypair:
      path: $HOME/.ssh/id_rsa
      size: 2048

- hosts: noob
  vars_files:
    - secrets.yml
  roles:
    - aeimer.install_bat
    - go
    - fzf
    - dotfiles
    - bashrc
