- hosts: noob
  tasks:
  - name: apt packages
    become: true
    apt:
      force_apt_get: yes
      name: 
        - tree
        - inotify-tools
        - fswatch
        - docker.io
        - xclip
        - jq
        - autojump
        - bison
        - binutils
        - build-essential
        - sqsh
        - zip
        - unzip
        - libssl-dev
        - libreadline-dev
        - zlib1g-dev
      cache_valid_time: 3600
      update_cache: true

  - name: snap packages
    become: true
    snap:
      name: 
        - slack
        - postman
        - intellij-idea-ultimate
        - goland
        - pycharm-professional
      classic: yes

  - name: identity
    openssh_keypair:
      path: $HOME/.ssh/id_rsa
      size: 2048

- hosts: noob
  roles:
    - filesystem
    - java
    - go
    - anaconda
    - ruby
    - fzf
    - nodejs
    - rust
    - vscode
    - chrome
    - virtualbox
    - hashicorp
    - dotfiles
    - aeimer.install_bat
    - lotion
    - zoom
    - bash

